$avatar-border: 25%; /* 0 - 50 % */
$server-border: 0px; /* 0 - 25 px */
$scrollbar-border: 0px; /* 0 - 8 px */

/* Avatars */
.wrapper-3t9DeA,
.wrapper-2QE8vf,
.row-1c01mR {
    foreignObject {
        -webkit-mask: none;
        mask: none;
        border-radius: $avatar-border;
    }
    rect {
        x: calc(100% - 7);
        y: calc(50% - 3.5);
        width: 7px;
        height: 7px;
        &[mask*="mobile"] {
            height: 12px;
            y: calc(50% - 6)
        }
    }
    rect[width="16"] {
        x: calc(100% - 12);
        y: calc(50% - 6);
        width: 12px;
        height: 12px;
        &[mask*="mobile"] {
            height: 20px;
            y: calc(50% - 10)
        }
    }
    .dots-3Bkt3k {
        display: none;
    }
    &+ svg .avatarHintInner-Dco91E{
        box-shadow: none;
    }
}
.clickable-1bVtEA:not(.repliedTextPreview-2NBljf),
 .avatarSpeaking-2c8-9i,
 .voiceAvatar-14IynY,
 .embedAuthorIcon--1zR3L,
 .avatar-3bWpYy {
    border-radius: $avatar-border;
}

/* Servers */
.guilds-1SWlCJ {
    .base-PmTxvP{
        box-shadow: none;
    }
    foreignObject, .base-PmTxvP {
        -webkit-mask: none;
        mask: none;
        border-radius: $server-border;
    }
}
.guildIcon-2Tpnad,
.folderIconWrapper-1_bOZe,
.expandedFolderBackground-1cujaW,
.wrapperSimple-19ogV2 {
    border-radius: $server-border;
}

/* Scrollbar */
.auto-Ge5KZx::-webkit-scrollbar-thumb, 
.auto-Ge5KZx::-webkit-scrollbar-track, 
.webkit-HjD9Er::-webkit-scrollbar-thumb {
    border-radius: $scrollbar-border;
}
.thin-1ybCId::-webkit-scrollbar-thumb {
    --scrollbar-temp-var: $scrollbar-border;
    border-radius: calc(var(--scrollbar-temp-var) / 2);
} 