// explains it's self.
#user-context-invite-to-server {
    display: none;
}

// settings pointer.
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada *,
.layers-3iHuyZ>.layer-3QrUeG.animating-rRxada {
    pointer-events: auto !important;
    will-change: unset;
}

// better than new default avatars
[src="/assets/1f0bfc0865d324c2587920a7d80c609b.png"],
[src="/assets/7c8f476123d28d103efe381543274c25.png"],
[src="/assets/3c6ccb83716d1e4fb91d3082f6b21d77.png"],
[src="/assets/c09a43a372ba81e3018c3151d4ed4773.png"],
[src="/assets/6f26ddd1bf59740c536d2274bb834a05.png"] {
    content: url("https://cdn.discordapp.com/emojis/813865671237566475.png");
}