$avatar-border: 25%; /* 0 - 50 % */
$server-border: 25%; /* 0 - 50 % */
$scrollbar-border: 0px; /* 0 - 8 px */

// Avatars.
.wrapper-3t9DeA,
.avatarHint-1qgaV3,
.avatarHint-1E3LMl,
.wrapper-2QE8vf,
.row-1c01mR {
    foreignObject {
        -webkit-mask: none !important;
        mask: none !important;
        border-radius: $avatar-border;
    }
    rect {
        x: calc(100% - 7);
        y: calc(50% - 3.5);
        width: 7px;
        height: 7px;
        &[mask*="mobile"] {
            height: 12px;
            y: calc(50% - 6)
        }
    }
    rect[width="16"] {
        x: calc(100% - 12);
        y: calc(50% - 6);
        width: 12px;
        height: 12px;
        &[mask*="mobile"] {
            height: 20px;
            y: calc(50% - 10)
        }
    }
    .dots-3Bkt3k {
        display: none;
    }
}
rect[mask*="typing"] {
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='black' d='M 21.6,3.6 H 2.4 C 1.08,3.6 0.012,4.68 0.012,6 L 0,18 c 0,1.32 1.08,2.4 2.4,2.4 H 21.6 C 22.92,20.4 24,19.32 24,18 V 6 C 24,4.68 22.92,3.6 21.6,3.6 Z M 10.8,7.2 h 2.4 v 2.4 h -2.4 z m 0,3.6 h 2.4 v 2.4 H 10.8 Z M 7.2,7.2 H 9.6 V 9.6 H 7.2 Z m 0,3.6 h 2.4 v 2.4 H 7.2 Z M 6,13.2 H 3.6 V 10.8 H 6 Z M 6,9.6 H 3.6 V 7.2 H 6 Z M 16.8,18 H 7.2 v -2.4 h 9.6 z m 0,-4.8 h -2.4 v -2.4 h 2.4 z m 0,-3.6 H 14.4 V 7.2 h 2.4 z m 3.6,3.6 H 18 v -2.4 h 2.4 z m 0,-3.6 H 18 V 7.2 h 2.4 z'/%3E%3C/svg%3E");
}
.replyAvatar-1K9Wmr,
.avatarSpeaking-2c8-9i,
.speaking-B2MXPi,
.voiceAvatar-14IynY,
.wrapper-2QE8vf.ringingOutgoing-mbXhhQ:after,
.embedAuthorIcon--1zR3L,
.avatar-3bWpYy,
.avatarMasked-3y6o4j,
.avatar-3tNQiO,
.avatarHint-1E3LMl {
    border-radius: $avatar-border;
}

//profile banner fixes
span.username-2b1r56.headerTagUsernameNoNickname-1SSLBc.headerTagUsernameBase-12nwcw {
    overflow: hidden;
}
.avatar-2PN2-j {
    border: 3px solid transparent;
    background-color: black;
    border-radius: $avatar-border;
}
.avatar-22FtUu {
    @extend .avatar-2PN2-j;
    left: 3px;
    top: 3px;
}

// Servers.
.guilds-1SWlCJ {
    .base-PmTxvP {
        box-shadow: none;
    }
    foreignObject, .base-PmTxvP {
        -webkit-mask: none;
        mask: none;
        border-radius: $server-border;
    }
}
.guildIcon-2Tpnad,
.folderIconWrapper-1_bOZe,
.wrapperSimple-19ogV2 {
    border-radius: $server-border;
}
.expandedFolderBackground-1cujaW {
    margin: -4px 0px -4px 0px;
    padding: 4px;
    left: 8px;
    border-radius: 10px;
}

// Scrollbar.
.auto-Ge5KZx::-webkit-scrollbar-thumb, 
.auto-Ge5KZx::-webkit-scrollbar-track, 
.webkit-HjD9Er::-webkit-scrollbar-thumb {
    border-radius: $scrollbar-border;
}
.thin-1ybCId::-webkit-scrollbar-thumb {
    --scrollbar-temp-var: $scrollbar-border;
    border-radius: calc(var(--scrollbar-temp-var) / 2);
} 