/*hi*/

.theme-dark {
    --bg0: #000000;
    --bg1: #0a0a0a;
    --bg2: #0f0f0f;
    --bg3: #141414;
    --accent: 112, 0, 0;
}

// Overwriting stock variables, this makes things way easier then they could have been.
html.theme-dark .theme-light,
.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: rgb(var(--accent));
    --text-positive: #4fdc7b;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: var(--bg2);
    --background-secondary: var(--bg1);
    --background-secondary-alt: var(--bg1);
    --background-tertiary: var(--bg0);
    --background-accent: #4f545c;
    --background-floating: var(--bg3);
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --info-positive-text: #fff;
    --info-warning-text: #fff;
    --info-danger-text: #fff;
    --info-help-background: rgba(0,176,244,0.1);
    --info-help-foreground: #00b0f4;
    --info-help-text: #fff;
    --status-warning-text: #000;
    --scrollbar-thin-thumb: rgb(var(--accent));
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: rgb(var(--accent));
    --scrollbar-auto-track: var(--bg0);
    --scrollbar-auto-scrollbar-color-thumb: rgb(var(--accent));
    --scrollbar-auto-scrollbar-color-track: var(--bg0);
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --control-brand-foreground: #a5b3e7;
    --background-mentioned: rgba(250,166,26,0.1);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --channels-default: #8e9297;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    --channeltextarea-background: var(--bg1);
    --activity-card-background: #202225;
    --textbox-markdown-syntax: #8e9297;
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
    .needAccount-23l_Wh{color:white;}
}

/*
.theme-dark,.theme-light {
    --text-warning: #faa61a;
    --text-danger: #ed4245;
    --info-positive-background: rgba(59,165,92,0.1);
    --info-positive-foreground: #3ba55c;
    --info-warning-background: rgba(250,166,26,0.1);
    --info-warning-foreground: #faa61a;
    --info-danger-background: rgba(237,66,69,0.1);
    --info-danger-foreground: #ed4245;
    --status-positive-background: #3ba55c;
    --status-positive-text: #fff;
    --status-warning-background: #faa61a;
    --status-danger-background: #ed4245;
    --status-danger-text: #fff;
    --focus-primary: #00b0f4
}


.theme-light {
    --header-primary: #060607;
    --header-secondary: #4f5660;
    --text-normal: #2e3338;
    --text-muted: #747f8d;
    --text-link: #0067e0;
    --text-positive: #3ba55c;
    --interactive-normal: #4f5660;
    --interactive-hover: #2e3338;
    --interactive-active: #060607;
    --interactive-muted: #c7ccd1;
    --background-primary: #fff;
    --background-secondary: #f2f3f5;
    --background-secondary-alt: #ebedef;
    --background-tertiary: #e3e5e8;
    --background-accent: #747f8d;
    --background-floating: #fff;
    --background-mobile-primary: #f8f9f9;
    --background-mobile-secondary: #fff;
    --background-modifier-hover: rgba(116,127,141,0.08);
    --background-modifier-active: rgba(116,127,141,0.16);
    --background-modifier-selected: rgba(116,127,141,0.24);
    --background-modifier-accent: rgba(6,6,7,0.08);
    --info-positive-text: #000;
    --info-warning-text: #000;
    --info-danger-text: #000;
    --info-help-background: rgba(0,103,224,0.1);
    --info-help-foreground: #0067e0;
    --info-help-text: #000;
    --status-warning-text: #fff;
    --scrollbar-thin-thumb: rgba(79,84,92,0.3);
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ccc;
    --scrollbar-auto-track: #f2f2f2;
    --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
    --scrollbar-auto-scrollbar-color-track: #f2f3f5;
    --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
    --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.16);
    --logo-primary: #7289da;
    --control-brand-foreground: #7289da;
    --background-mentioned: rgba(250,166,26,0.1);
    --background-mentioned-hover: rgba(250,166,26,0.2);
    --background-message-hover: rgba(6,6,7,0.02);
    --channels-default: #6a7480;
    --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
    --channeltextarea-background: #ebedef;
    --activity-card-background: #fff;
    --textbox-markdown-syntax: #6a7480;
    --deprecated-card-bg: #f8f9f9;
    --deprecated-card-editable-bg: rgba(246,246,247,0.6);
    --deprecated-store-bg: #f8f9f9;
    --deprecated-quickswitcher-input-background: #fff;
    --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);
    --deprecated-text-input-bg: rgba(79,84,92,0.02);
    --deprecated-text-input-border: rgba(79,84,92,0.3);
    --deprecated-text-input-border-hover: #b9bbbe;
    --deprecated-text-input-border-disabled: #dcddde;
    --deprecated-text-input-prefix: #b9bbbe
}
*/

// this is where the fun begins.
html {
    --brand-experiment: rgb(var(--accent)) !important;
    --brand-experiment-05a: rgba(var(--accent),0.05) !important;
    --brand-experiment-10a: rgba(var(--accent),0.10) !important;
    --brand-experiment-15a: rgba(var(--accent),0.15) !important;
    --brand-experiment-30a: rgba(var(--accent),0.30) !important;
    --brand-experiment-20a: rgba(var(--accent),0.20) !important;
    --brand-experiment-25a: rgba(var(--accent),0.25) !important;
    --brand-experiment-30a: rgba(var(--accent),0.30) !important;
    --brand-experiment-35a: rgba(var(--accent),0.35) !important;
    --brand-experiment-40a: rgba(var(--accent),0.40) !important;
    --brand-experiment-45a: rgba(var(--accent),0.45) !important;
    --brand-experiment-50a: rgba(var(--accent),0.50) !important;
    --brand-experiment-55a: rgba(var(--accent),0.55) !important;
    --brand-experiment-60a: rgba(var(--accent),0.60) !important;
    --brand-experiment-65a: rgba(var(--accent),0.65) !important;
    --brand-experiment-70a: rgba(var(--accent),0.70) !important;
    --brand-experiment-75a: rgba(var(--accent),0.75) !important;
    --brand-experiment-80a: rgba(var(--accent),0.80) !important;
    --brand-experiment-85a: rgba(var(--accent),0.85) !important;
    --brand-experiment-90a: rgba(var(--accent),0.90) !important;
    --brand-experiment-95a: rgba(var(--accent),0.95) !important;
    --brand-experiment-200: var(--text-normal) !important;
    --brand-experiment-360: rgb(var(--accent)) !important;
    --brand-experiment-560: rgb(var(--accent)) !important;
    --brand-experiment-600: rgba(var(--accent),0.85) !important;
    --control-brand-foreground: rgb(var(--accent)) !important;
}
.uploadModal-2ifh8j,
.paymentRowHeader-2sfDdN > div,
.userPopout-3XzG_A > wetargf,
.expandedFolderBackground-1cujaWs,
.container-1D34oG,
.pageWrapper-1PgVDX,
.powercord-text,
.modal-yWgWj-,
.badge-1JXQev,
.perksModal-fSYqOq,
.root-1gCeng:not(.modal-qgFCbT),
.header-1TKi98,
.content-1LAB8Z {
    background-color: var(--bg2) !important;
}
.footer-2gL1pp,
.footer-3mqk7D,
.container-3ayLPN,
.message-2qRu38 {
    background-color: var(--bg1) !important;
}
.option-96V44q:not(.selected-rZcOL-)::after {
    background: var(--bg1) !important;
}
.splashBackground-1FRCko {
    .image-2jyRAK {
        content: url("https://kewlsage.github.io/titled-discord-scss-repository/assets/smash.png");
    }
    .authBox-hW6HRx {
        color: unset;
        background: var(--bg0) !important;
        .input-cIJ7To {
            background-color: var(--bg2) !important;
        }
    }
}
.checkbox-1ix_J3 path[fill="#7289da"] {
    fill: rgb(var(--accent));
}
::selection {
    background: rgb(var(--accent));
}

